# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3

# Node / JS
node_modules/
.npm

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Media & Static
backend/media/
backend/staticfiles/
